.mainImg {
  width: 400px;
  height: 400px;
}
.sliderMenu {
  display: flex;
  align-items: center;
}
.images {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
